<div class="container grid grid-four-column">
    <div class="f-about">
        <h3>About</h3>
        <p style="text-align: justify;"><strong>Astha Digital</strong> one of the leading online Service provider in <em>Gauhaniya Prayagraj India.</em>, Authorized channel partner of Digital India project by <em>Ministry of Electronics & Information Technology Govt. of India.</em> We have various servicess under the umbrella of Astha communication, working since 2015, as a online service domain expert.One touch point for all multipurpose online service, utility bills, online forms, results, adahr , pan , Driving Licence, voter id card , birth/life/domicite/cast/ death/ certificate applyed here for issuing authority &  for many other servicess have single touch point to know more <a href="">Click here...</a> </p>
    </div>

    <!-- f-about end -->
    <div class="f-links">
        <h3>Links</h3>
        <ul>
            <li><span><i class="bi bi-arrow-right-short"></i></span><a href="#">Home</a></li>
            <li><span><i class="bi bi-arrow-right-short"></i></span><a href="#">About</a></li>
            <li><span><i class="bi bi-arrow-right-short"></i></span><a href="#">Services</a></li>
            <li><span><i class="bi bi-arrow-right-short"></i></span><a href="#">Pricing</a></li>
            <li><span><i class="bi bi-arrow-right-short"></i></span><a href="#">Contact</a></li>
            <li><span><i class="bi bi-arrow-right-short"></i></span><a href="#">Job</a></li>
            <li><span><i class="bi bi-arrow-right-short"></i></span><a href="#">Result</a></li>
            <li><span><i class="bi bi-arrow-right-short"></i></span><a href="#">Sitemap</a></li>
            <li><span><i class="bi bi-arrow-right-short"></i></span><a href="http://exlacademy.co.in" target="_blank">Education</a></li>
            <li><span><i class="bi bi-arrow-right-short"></i></span><a href="#">Investment</a></li>
            <li><span><i class="bi bi-arrow-right-short"></i></span><a href="#">Terms & Condition</a></li>
            <li><span><i class="bi bi-arrow-right-short"></i></span><a href="#">Privacy</a></li>
        </ul>
    </div>
    <!-- f-links end -->
    <div class="f-services">
        <h3>Services</h3>
        <ul>
            <li><span><i class="bi bi-arrow-right-short"></i></span><a href="#">Adhar</a></li>
            <li><span><i class="bi bi-arrow-right-short"></i></span><a href="#">PAN</a></li>
            <li><span><i class="bi bi-arrow-right-short"></i></span><a href="#">Insurance</a></li>
            <li><span><i class="bi bi-arrow-right-short"></i></span><a href="#">Voter ID</a></li>
            <li><span><i class="bi bi-arrow-right-short"></i></span><a href="#">Driving Licence</a></li>
            <li><span><i class="bi bi-arrow-right-short"></i></span><a href="#">Birth Certificate</a></li>
            <li><span><i class="bi bi-arrow-right-short"></i></span><a href="#">Domicile Certficate</a></li>
            <li><span><i class="bi bi-arrow-right-short"></i></span><a href="#">Stationary</a></li>
            <li><span><i class="bi bi-arrow-right-short"></i></span><a href="#">Xerox</a></li>
            <li><span><i class="bi bi-arrow-right-short"></i></span><a href="#">Digital Photo</a></li>
            <li><span><i class="bi bi-arrow-right-short"></i></span><a href="#">Video</a></li>
        </ul>
    </div>
    <!-- f-links end -->
    <div class="f-address">
        <h3>Address</h3>
            <div><p><span><i class="bi bi-geo-alt-fill"></i></span>Gauhniya, Jasra, Prayagraj, <br>&emsp;&emsp;INDIA - 212107</p></div>
            <div><p><span><i class="bi bi-telephone-fill"></i></span><a href="tel:9026297134">9026297134 </a>|<a href="tel:9026297134"> 9936762093</a></p></div>
            <div><p><span><i class="bi bi-globe"></i></span><a href="http://asthadigital.co.in">asthadigital.co.in</a></p></div>
            <div><p><span><i class="bi bi-envelope-fill"></i></span><a href="mailto:brikum1994@gmail.com">brikum1994@gmail.com</a></p></div>
    </div>
</div>
<div class="container">
    <div class="f-social">
        <span><a href="https://youtube.com/" target="_blank" style="color:red"> <i class="bi bi-youtube"></i></a></span>
        <span><a href="https://facebook.com/" target="_blank" style="color:#4267B2"><i class="bi bi-facebook"></i></a></span>
        <span><a href="https://web.whatsapp.com/" target="_blank" style="color:#075E54"><i class="bi bi-whatsapp"></i></a></span>
    </div>
</div>
<div class="container">
    <div class="copyright">
        <span>&copy;Copyright reserved Astha Digital Services - 2022</span>
    </div>
</div>