<div class="brand-name"><span style="font-family: 'Playball', cursive; font-size: 2em;"><span style="color:green;font-size: 1.5em;">A</span>stha <span style="color:goldenrod;font-size: 1.5em;">D</span>igital <span style="color:tomato;font-size: 1.5em;">S</span>ervices</span><div class="header-contact-no"><span><i class="bi bi-telephone-fill"></i></span><span><a href="tel:+919026297134" style="text-decoration: none; color: thistle;">+91 9026297134</a> | <a href="tel:+919936762093" style="text-decoration: none; color: thistle;">+91 9936762093</a></span></div></div>
        <nav>
            <ul>
                <li>
                    <span></span><a  class="active" href="#">Home</a>
                </li>
                <li>
                    <span></span><a href="#">About</a>
                </li>
                <li>
                    <span></span><a href="#">Services</a>
                </li>
                <li>
                    <span></span><a href="#">Pricing</a>
                </li>
                <li>
                    <span></span><a href="#">Contact</a>
                </li>
            </ul>
        </nav>