<nav>
  <div class="header-banner"><span style="padding-right:5px"><a href="" style="text-decoration:none;color:whitesmoke">Signup!</a></span><span style="padding-right:15px"><a href="" style="text-decoration:none;color:whitesmoke">Login</a></span><span>9876543210</span></div>
</nav>
  <nav>
    <ul>
      <li>
        <a href="/"> Home </a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/service">Service</a>

        </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </nav>