<nav>
    <div>
        <h3>Services</h3>
    </div>
    <ul>
        <li>
            <span></span><a href="/services/eforms">e-Forms</a>
        </li>
        <li>
            <span></span><a href="/services/itr">ITR Filing</a>
        </li>
        <li>
            <span></span><a href="/services/withdrawl">Withdrwal</a>
        </li>
        <li>
            <span></span><a href="#">Monytransfer</a>
        </li>
        <li>
            <span></span><a href="#">Banking</a>
        </li>
        <li>
            <span></span><a href="#">Insurance</a>
        </li>
        <li>
            <span></span><a href="#">Rail Ticket</a>
        </li>
        <li>
            <span></span><a href="#">Bus Ticket</a>
        </li>
        <li>
            <span></span><a href="#">Flight Ticket</a>
        </li>
        <li>
            <span></span><a href="#">PAN Service</a>
        </li>
        <li>
            <span></span><a href="#">Adhar Service</a>
        </li>
        <li>
            <span></span><a href="#">Driving Licence</a>
        </li>
        <li>
            <span></span><a href="#">e-District</a>
        </li>
        <li>
            <span></span><a href="#">Digital Prints</a>
        </li>
        <li>
            <span></span><a href="#">Custom Prints</a>
        </li>
        <li>
            <span></span><a href="#">Digital Photo</a>
        </li>
        <li>
            <span></span><a href="#">Photography</a>
        </li>
        <li>
            <span></span><a href="#">Videography</a>
        </li>
    </ul>
</nav>