@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");
        @import url('https://fonts.googleapis.com/css2?family=Playball&family=Roboto:wght@100;300&family=Work+Sans:wght@300&display=swap');
        body{
            /* background: rgb(0, 44, 48); */
            background: linear-gradient(45deg,rgb(0,20,20)30%,rgb(0,44,44));
            color:thistle;
            font-family: 'Roboto', sans-serif;
        }
        body::-webkit-scrollbar {
            width: 12px;
            height:12px;
            }
        body::-webkit-scrollbar-track {
            background: linear-gradient(45deg,rgba(0,20,20,0.5)100%,rgb(0,44,44));
            }
        body::-webkit-scrollbar-thumb {
            background: linear-gradient(45deg,rgba(1, 77, 77, 0.725)100%,rgb(0,44,44));
            border-radius: 10px;
            }

        /* HEADER CSS */
        nav .logo{
            margin-left: 20px;
        }
        nav{
            display: flex;
            align-items: center;

            margin-bottom: 50px;


        }
        nav .logo img{
            width:50px;
        }
        header nav ul {
            display: flex;
            align-items: center;

            margin-bottom: 0;
        
        }
        header nav ul li {
            list-style: none;
            margin-right: 10px;
            display: flex;
        }
        header nav ul li a {
            position:relative;  /* added */
            text-decoration: none;
            color:thistle;
            padding: 10px 5px;
            transition: 0.5s ease-in;
        }
        /* added */
        header nav ul li a:before {
            position:absolute;
            content:"";
            height:2px;
            width:0px;
            bottom:0px;
            background: rgb(0, 255, 251);
            transition: 0.5s ease-in;
        }
        /* added */
        header nav ul li a:hover::before{
            width:85%;
            transition: 0.5s ease-in;
        }

        header nav ul li a:hover {
            color:rgb(0, 255, 251);
            transition: 0.5s ease-in;
        }
        .active{
            color:rgb(0, 255, 251);
            transition: 0.5s;
        }
        .brand-name{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }
        .header-contact-no{
            position: absolute;
            right:20px;
        }
        .header-contact-no span{
            margin-right: 10px;
            color:thistle;
        }

/* INDEX HOME CSS */

.index-home{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    height:90vh;
}
.index-home .oneTouchPoint{
    display: flex;
    position: relative;
}
.oneTouchPoint .oneTouchPoint-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px;
}
.oneTouchPoint .oneTouchPoint-text span{
    font-size: 2em;

    animation: animate 1s ease-in;
    
}
@keyframes animate{
    0%{
        transform: translateY(150%);
        opacity: 0.1;
    }
    /* 80%{transform: translateY( 20%);} */
    100%{
        transform: translateY( 0%);
        opacity: 1;
    }
    
}
.oneTouchPoint .oneTouchPoint-text span button{
    padding: 5px 20px;
    font-size: 0.5em;
    background: rgba(1, 63, 63, 0.123);
    outline: none;
    color: aquamarine;
    border:solid 0.5px aquamarine;
    border-radius: 20px;
    letter-spacing: 2px;
}
.oneTouchPoint .oneTouchPoint-text span button:hover{
    box-shadow: rgba(127, 255, 212, 0.363) 0px 0px 2px,
                rgba(127, 255, 212, 0.263) 0px 0px 5px,
                rgba(127, 255, 212, 0.263) 0px 0px 10px,
                rgba(127, 255, 212, 0.163) 0px 0px 15px,
                rgba(127, 255, 212, 0.063) 0px 0px 30px;
}
.oneTouchPoint .oneTouchPoint-text span button a{
    text-decoration: none;
    color:aquamarine;
}
.jobs-btn{
    position: absolute;
    right:-20px;
    transform: rotate(90deg);
    background: rgb(0, 255, 251);
    background: linear-gradient(60deg,rgb(3, 56, 249),rgb(0, 255, 255));
    outline: none;
    border: solid 1px transparent;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: 600;
}
.jobs-btn a{
    text-decoration: none;
    color:#000;
}

.oneTouchPoint .oneTouchPoint-text span h2{
    font-size: 2em;
}
.oneTouchPoint .oneTouchPoint-img{
    margin-left: 30px;
}
.oneTouchPoint .oneTouchPoint-img img{
    width:500px;
}

.container-home-twohunplus{
    display: flex;
    align-items: center;
    width:100%;
    background: #fff;
}
.container-home-twohunplus div{
    width:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}
.container-home-twohunplus div img{
    width:70px;
    margin:20px;
    
}
#home-service-plus{    
    -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    justify-content: flex-start;
    width:40%;
    background-color: rgb(175, 11, 74);
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    border:none;
}
#home-service-plus span{
    
    font-size: 1.5em;
}

/* SERVICES SLIDER CSS */
.slide-container {
    max-width: 1120px;
    width: 100%;
    /* background: linear-gradient(-30deg, rgb(0, 68, 29),#000); */
    padding: 40px 0;
    margin-top: 50px;
    margin-bottom: 50px;

}

.slide-content {
    margin: 0 40px;
    
}

.card {
    border-radius: 25px;
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 0px;
    
}

.image-content,
.card-content {
    padding: 10px 14px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.image-content {
    row-gap: 5px;
    position: relative;
    padding: 25px 0;
}

.overley {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #4070f4;
    border-radius: 25px 25px 0 25px;

}

.overley::before,
.overley::after {
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    right: 0;
    bottom: -40px;
    background-color: #4070f4;

}

.overley::after {
    border-radius: 0 25px 0 0;
    background-color: #fff;
}

.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070f4;
}

.name {
    font-size: 22px;
    font-weight: 600;
    color: #111;

}

.description {
    font-size: 14px;
    color: #222;
    text-align: center;
}

.button {
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #4070f4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #265DF2;

}
.swiper-navBtn{
    color:#6e93f7;
    transition: 0.3s ease;
}
.swiper-navBtn:hover{
    color:#4070f4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 40px;

}
.swiper-button-next{
    right:0;
}
.swiper-button-prev{
    left:0;
}
.swiper-pagination-bullet{
    background-color:#6e93f7;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color:#4070f4;
    opacity: 1;
}


.profile-card-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height:100vh; */
    margin-bottom: 50px;
    margin-top: 20px;
    /* border:solid 1px white; */
}
.profile-card-cont h1{
    display: block;
    font-size: 3em;
    overflow: hidden;
    margin-bottom: 20px;
    color: aqua;
}


.card-container{
    display: flex;
    gap: 50px;

}
.card-container .card{
    position: relative;
    width:270px;
    background: rgba(0,44,44,0.3);
    background: linear-gradient(45deg, rgb(0, 20, 20), rgb(0, 44, 44));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:solid 1px rgba(3, 170, 170, 0.453);
    padding:10px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0,22,22,0.4);
}
.card-container .card .img-box{
    position: relative;
    width:100%;
    margin: 10px;
    width:100px;
    height:100px;
    overflow: hidden;


}
.card-container .card::before{
  position: absolute;
  content:"";
  width:100%;
  height:20%;
  top:0;
  background:rgb(0, 19, 19);
  border-radius: 10px 10px 0 0;


}
.card-container .card .img-box img{
    width:80px;
    height:80px;
    border-radius: 50%;
    padding: 2px;
    background: rgb(3,170,170);
    animation: opec 2s;
}
@keyframes opec{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
.card-container .card span h2, .card-container .card span h3{
    margin: 5px;
    color:grey;
    

}
.card-container .card span h2{

    animation: des 1s;
}
.card-container .card span h3{

    animation: nam 4s forwards;
    font-size: 1em;
    font-weight: 600;
}

@keyframes des{
    0%{
        transform: translateY(-150px);
        opacity:0.3;
    }
    100%{
        transform: translateY(0px);
        opacity:1;
    }

}
@keyframes nam{
    0%{
        transform: translateY(-150px);
        opacity:0.3;
    }
    100%{
        transform: translateY( 0px);
        opacity:1;
    }

}
.card-container .card p{
    color:#666;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: justify;
    animation: para 1s ease-in;
}
@keyframes para{
    0%{
        transform: translateY(100px);
        opacity:0.3;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.card-container .card .card-social .bi{
    margin:5px;
    padding: 7px;
    border-radius: 4px;
    transition: 0.4s ease;

}
.card-container .card .card-social .bi:hover{
    background: rgba(95, 93, 93, 0.185);
    
    transition: 0.4s ease;

}
.what-say{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.what-say h1 span .bi-chat-quote{
    margin-left: 30px;
    color: #02938b;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper2 .swiper-wrapper .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    margin-right: 50px;
    filter: blur(1.5px);
    transition: 0.3s ease-in;
    box-shadow: 0 15px 50px rgba(0,0,0,0.2);
  }
  .swiper2 .swiper-wrapper  .swiper-slide-active{
    filter: blur(0px);
    background: #001b1adb;
    transition: 0.5s ease-in;
    border-radius: 20px;
    border: solid 1px #038f8869;
  }
  .swiper-slide .testimonialBox{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;

  }
  .swiper-slide .testimonialBox .quote {
    position: absolute;
    left:20px;
    top:5px;
    font-size:40px;
    color: gray;
    height:auto;
  }
  .swiper-slide .testimonialBox .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    color: #777;
    line-height: 20px;
  }
  .swiper-slide .testimonialBox .content p{
      text-align: justify;
      /* font-size: 0.5em; */
  }
  .details{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #777;
  }
  .details h3{
    font-size: 1.2em;
    color: aqua;
    letter-spacing: 1px;
    
  }
  .details h3 span{
    color: grey;
    font-size: 0.8em;
  }
  .imgBx{
    margin: 10px;
  }
  .imgBx img{
    width:50px;
    height:50px;
    border-radius: 50%;
    object-fit: cover;
  }
    .swiper-pagination-bullet {
    background-color: rgba(54, 53, 53, 0.86);
    opacity: 1;
}
  .swiper-pagination-bullet-active {
    background:#02938b;
}
.bi-star-fill, .bi-star-half{
    color: goldenrod;
}

.accept-card-cnt{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-bottom: 50px;
}
.accept-card-cnt div img{
    width:50px;
    height:auto;
}

/* LATEST JOBS SESCTION CSS */
.job-sec{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    margin-top: 50px;
}
.job-sec div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width:80%;
    margin-bottom: 20px;
}
.job-sec div .imgbox{
    height: 100px;
    /* border: solid 1px pink; */
    width:120px;
    margin-left: 100px;
    justify-content: center;
}
.job-sec div .imgbox img{
    height: 80px;
    /* border:solid 1px white; */
    animation: imgani 20s linear infinite;
}
@keyframes imgani{
    0%{
        transform: translate(0px,0px);
    }
    20%{
        transform: translate(10px,-10px);
    }
    40%{
        transform: translate(0px,-5px);
    }
    60%{
        transform: translate(-10px,-5px);
    }
    90%{
        transform: translate(0px,-5px);
    }
    100%{
        transform: translate(0px,0px);
    }
}
.job-sec div h1{
    display: flex;
    color: turquoise;
    font-size: 3em;
    align-items: center;
}
.job-sec div h1 span{
    position: relative;
    display: inline-block;
    width:20px;
    height:20px;
    /* background: rgba(239, 252, 0, 0.768); */
    margin-right: 10px;
    border-radius: 4px;
}
.job-sec div h1 span::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top:0px;
    left:0px;
    background: goldenrod;
    border-radius: 50%;
    animation: ani 5s infinite;
}
@keyframes ani{
    0%{
        transform: scale(0);
        background: rgba(218, 165, 32, 0.289);
    }
    
}

table{
    color:rgb(202, 248, 244);
    line-height: 25px;
    font-size:1.2em;
    margin-bottom: 150px;
}
thead tr{

    background: linear-gradient(to bottom, rgb(0, 20, 20)10%, rgb(0, 44, 44));
    
}
tr th{
    padding: 15px 5px;
    letter-spacing: 2px;
    font-size: 1.2em;
    text-align: center;
}
tr td{
    max-width: 300px;
    padding: 15px 5px;
    
}
tr td:nth-child(3){
    text-align: center;

}
tbody tr{
    background: rgb(1, 50, 50);
    transition: 0.5s ease-in;
    vertical-align: top;
}
table tbody tr:nth-child(3){
    /* background: linear-gradient(to bottom, rgb(0, 20, 20)0%, rgb(0, 44, 44)); */
    background-color: yellow;
}
table tbody tr:hover{
    transform: scale(1.05);
    transition: 0.5s ease-in;
}

table, th, td {
    border: 1px solid rgba(3, 250, 225, 0.439);
    border-top: 1px solid rgba(3, 250, 225, 0.439);
    border-bottom: 1px solid rgba(3, 250, 225, 0.439);
    border-collapse: collapse;
    
}   
table,th,td{
    border-left: none;
    border-right: none;
}
table tr{
    border-left: solid 1px  rgba(3, 250, 225, 0.439);
    border-right: solid 1px  rgba(3, 250, 225, 0.439);
}
table tbody tr td span{
    display: block;
    text-align: center;
    font-size: 0.8em;
}
table tbody tr td .click{
    color:rgb(0, 136, 255);
}
.fee{
    display: block;
    text-align: right;
    line-height: 17px;
}


/* CONTACT FORM CSS */

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid red;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
}
.contact .content p{

    font-weight: 300;
}

.container-contact{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container-contact .contactInfo{
    width:50%;
    display: flex;
    flex-direction: column;
}
.container-contact .contactInfo .box{
    position:relative;
    padding:20px 0;
    display: flex;
}
.container-contact .contactInfo .box .icon{
    min-width: 60px;
    height:60px;
    background: rgb(1, 61, 65);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    border-radius: 50%;
}
.container-contact .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}
.container-contact .contactInfo .box .text h3{
    font-weight: 500;
    color:#00bcd4;
}
.container-contact .contactInfo .box .text p a{
    text-decoration: none;
    color:thistle;
}
.contactForm{
    width:40%;
    padding: 40px;
    background: rgba(0, 30, 30, 0.755);
    border:solid 1px rgba(255, 255, 255, 0.421);
    border-radius: 5px;
    transition: 0.5s;
    position:relative;
}
.contactForm::before{
    position: absolute;
    display: flex;
    /* display: none; */
    justify-content: center;
    align-items: center;
    content:"Sending...";
    width:0%;
    height:100%;    
    top:0;
    left:0;
    background: rgba(22, 34, 34, 0.844);
    z-index: +1;
    font-size: 20px;
    transition: 0.5s;
    display: none;
}
.contactForm.show::before{
    display: flex;
    width:100%;
    transition: 0.5s;
}
/* .contactForm.hide::before{
    display: none;    
} */
.contactForm h2{
    font-size: 30px;
    color:#999;
    font-weight: 500;
}
.contactForm .inputBox{
    position:relative;
    width:100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width:100%;
    padding: 5px 0;
    font-size: 16px;
    margin:10px 0;
    border:none;
    border-bottom: 2px solid #999;
    outline:none;
    background: transparent;
    resize: none;
}
.contactForm .inputBox span{
    position: absolute;
    left:0;
    top: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color:#999;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color:#03f3ef;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]{
    width:100px;
    background: #00bcd4;
    color:#fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}



/* FOOTER CSS */

        .footer{
            background: #111;
            color:#999;
        }
        .container {
            display: flex;
            justify-content: center;

        }

        .f-about,.f-links,.f-services,.f-address{
            max-width: 350px;
            min-width: 150px;     
            margin-left:10px;
            margin-right:10px;
            padding:10px;
        }
        .f-about h3,.f-links h3,.f-services h3,.f-address h3{
            position: relative;
            display: inline-block;
            
        }
        .f-about h3::before,.f-links h3::before,.f-services h3::before,.f-address h3::before{
            content:"";
            position: absolute;
            height:2px;
            width:50%;
            bottom: -3px;
            background-color: goldenrod;          
        }
        
        .f-services ul li,.f-about ul li,.f-address ul li,.f-links ul li{
            list-style: none;
            margin-left: -30px;
        }
        ul li a{
            text-decoration: none;
            color:#999;
        }
        ul li a:hover{
            text-decoration: none;
            color:#fff;
        }
        .f-address div a{
            text-decoration: none;
            color:#999;
        }
        .f-address div a:hover{
            text-decoration: none;
            color:#fff;
        }
        .f-address div p span{
            margin-right: 10px;
        }
        .container .f-social{
            margin: 10px;
        }
        .container .f-social span{
            margin: 10px;
        }
        .container .f-social span a {
            font-size: 1.3em;
            padding:10px;
            transition: 0.5s;

            border-radius: 5px;
        }
        .container .f-social span a:hover {
            background-color: rgba(153, 153, 153, 0.145);
            transition: 0.5s;
        }
        .bi-arrow-right-short{
            color:#4267B2;
        }
        .copyright{
            margin:10px;
        }

/* JOB FORM  */
.formRow{
    display: flex;
    gap: 8px;
}
.contactForm{
    width:60%;
}
input{
    color:#fff;
}
textarea{
    color:#fff;
}

.contact-thank{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

#msg-sus{
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
    color: rgb(5, 186, 5);
    font-size: 22px;
    transition: 0.5s;
}



/* PRICING CSS */
.pricing-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0px;
    /* border:solid 1px #fff; */
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(../img/rainbow-vortex.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    box-shadow: 0px 15px 30px rgba(254, 221, 165, 0.14);

}
.pricing-header h1{
    font-weight: 600;
    font-size: 3em;
    /* background: red; */
}
.pricing-card-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
    margin-top: 0PX;
    margin-bottom: 80PX;
    padding: 50px;

}
.pricing-card-cont .pricing-box{
    /* height:50vh; */
    width:300px;
    background: lightgray;
    /* padding: 30px; */
    background: transparent;
    background: linear-gradient(45deg,rgba(48, 1, 58, 0.926),rgba(0, 0, 0, 0.076));
    border-radius: 10px;
    box-shadow: 10px 20px 20px rgba(0,0,0,0.15),20px 40px 50px rgba(254, 170, 230, 0.15);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:solid 1px rgba(196, 61, 250, 0.638);
}
/* .pricing-card-cont .pricing-box::before{
    content:"";
    position: absolute;
    width:100%;
    height:15%;
    top:0;
    left:0;
    background: rgb(233, 76, 76);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

} */
.pricing-box .pricing-info,
.pricing-box .pricing-content{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 15px 0;
    /* border-bottom: 1px solid rgb(129, 124, 124); */
    position: relative;
    background: transparent;
}
.pricing-box .pricing-info{
    color:rgb(245, 214, 253);
}
.pricing-box .pricing-info h3{
    font-weight: 600;
}

.pricing-box .pricing-info::after{
    position: absolute;
    content: "";
    width:100%;
    height:100%;
    top:0;
    left:0;
    background: brown;
    background: linear-gradient(30deg,rgb(1, 32, 39),rgb(2, 132, 155));
    z-index: -1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.pricing-box .pricing-content{
    border: none;
    display: flex;
    flex-direction: column;
    /* margin:10px 10px 10px 10px; */
    /* border:solid 1px #fff; */
    padding: 10px;
}
.pricing-box .pricing-content div{
    display: flex;
    gap:10px;
    width:100%;
    justify-content:space-between;
    /* border:solid 1px black; */
    position: relative;
    /* background: mediumaquamarine; */
    
}
.pricing-box .pricing-content div span{
    display: flex;
    padding: 20px 5px 20px 5px;
    /* border: solid 1px darkgray; */
    justify-content: center;
    align-items: center;
    color:#fff;

}

.pricing-box .pricing-content div span:last-child{
    color:rgb(246, 215, 253);
    font-size: 1.3em;
    text-align: right;
    /* border:solid 1px black; */
    /* position: absolute;
    right:0; */

    
}
.bi-check-all{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background: rgb(143, 1, 143);
    color: #fff;
    border-radius: 50%;
    margin-right: 5px;
}
.fa{
    font-size: 0.6em;
}
.fa-inr{
    font-size: 1em;   
}
.container-service{
    display: flex;
    /* border:solid pink; */
    margin-top: 0;
}
.service-nav{
    /* border: solid 1px red; */
    /* background: linear-gradient(rgb(41,41,41), rgb(55,55,55)); */
    border-left: #555 solid 3px;
}
.service-nav nav{
    flex-direction: column;
}

.service-nav nav ul{
    list-style: none;
}
