<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body style="background-color: #003147;">
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <section class="index-home">
            <div class="oneTouchPoint-cont">
                <div class="oneTouchPoint">
                    <div class="oneTouchPoint-text"><span>for your all,<br> online utility services<div style="color:goldenrod; display: inline;">?</div><h2>OneTouchPoint</h2><button type="button">Start</button></span>
                </div>
                    <div class="oneTouchPoint-img"><img src="../../assets/img/astha digital solution img01.png" alt="digital solution" ></div>
                </div>

            </div>
        </section>
        <div class="container-home-twohunplus">
        
                <div id="home-service-plus">
                <span><span style="font-weight: 600;">200+</span><br><span style="font-size: 2em;">Services</span><br><small>with </small>top leading service provider</span>
            </div>
        
            <div>
                <img src="../../assets/img/HDFC-Bank-emblem.png">
                <img src="../../assets/img/icici.png">
                <img src="../../assets/img/Bank-of-India-logo.png">
    
                <img src="../../assets/img/axis bank.png">
                <img src="../../assets/img/aadhaar-logo-png.png">
    
            </div>
        </div>

        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wraper swiper-wrapper">
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overley"></span>
                            <div class="card-image">
                                <img src="../../assets/img/pngwing.com.png" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Insurance</h2>
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, ratione?</p>
                            <button class="button">View More...</button>
                        </div>
                    </div>
                    
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overley"></span>
                            <div class="card-image">
                                <img src="../../assets/img/pngegg.png" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Stationery</h2>
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, ratione?</p>
                            <button class="button">View More...</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overley"></span>
                            <div class="card-image">
                                <img src="../../assets/img/income tax logo.png" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Income Tax</h2>
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, ratione?</p>
                            <button class="button">View More...</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overley"></span>
                            <div class="card-image">
                                <img src="../../assets/img/irctc.png" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Rail Ticket</h2>
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, ratione?</p>
                            <button class="button">View More...</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overley"></span>
                            <div class="card-image">
                                <img src="../../assets/img/flight booking logo.png" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Flight Ticket</h2>
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, ratione?</p>
                            <button class="button">View More...</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overley"></span>
                            <div class="card-image">
                                <img src="../../assets/img/bus logo.png" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Bus Ticket</h2>
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, ratione?</p>
                            <button class="button">View More...</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overley"></span>
                            <div class="card-image">
                                <img src="../../assets/img/moneytransfer logo.jpg" alt="money transfer ruppe symbol" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Mony Transfer</h2>
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, ratione?</p>
                            <button class="button">View More...</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overley"></span>
                            <div class="card-image">
                                <img src="../../assets/img/aeps-withdrawal_services.png" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Withdrawal</h2>
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, ratione?</p>
                            <button class="button">View More...</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overley"></span>
                            <div class="card-image">
                                <img src="../../assets/img/aadhaar-logo-png.png" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Adhar</h2>
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, ratione?</p>
                            <button class="button">View More...</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overley"></span>
                            <div class="card-image">
                                <img src="../../assets/img/prints.jpg" alt="digital print" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Digital Prints</h2>
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, ratione?</p>
                            <button class="button">View More...</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overley"></span>
                            <div class="card-image">
                                <img src="../../assets/img/pancard image.jpg" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">PAN Card</h2>
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, ratione?</p>
                            <button class="button">View More...</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overley"></span>
                            <div class="card-image">
                                <img src="../../assets/img/voter id card.png" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Voter Id Card</h2>
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, ratione?</p>
                            <button class="button">View More...</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overley"></span>
                            <div class="card-image">
                                <img src="../../assets/img/utility-bill-payment logo.png" alt="utility bills" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Utility Bills</h2>
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, ratione?</p>
                            <button class="button">View More...</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overley"></span>
                            <div class="card-image">
                                <img src="../../assets/img/up logo.png" alt="up logo" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">E-Dustric Service</h2>
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, ratione?</p>
                            <button class="button">View More...</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overley"></span>
                            <div class="card-image">
                                <img src="../../assets/img/Agriculture-Logo-Design-PNG.png" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Agriculture</h2>
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, ratione?</p>
                            <button class="button">View More...</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination bullet"></div>
        </div>
    </main>
    <footer class="footer">
        <%- include('../partials/footer'); %>
    </footer>
    <!-- slide swiper javascript -->
    <script src="../../assets/js/swiper-bundle.min.js"></script>
    <script src="../../assets/js/javaScript.js"></script>
</body>

</html>