<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body style="background-color: #003147;">
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <section class="index-home">
            <div class="oneTouchPoint-cont">
                <div class="oneTouchPoint">
                    <div class="oneTouchPoint-text"><span>for your all,<br> online utility services<div
                                style="color:goldenrod; display: inline;">?</div>
                            <h2>OneTouchPoint</h2><button type="button"><a href="/latestJob">Jobs  Go</a></button>
                        </span>
                    </div>
                    <div class="oneTouchPoint-img"><img src="../../assets/img/astha digital solution img01.png"
                            alt="digital solution"></div>
                </div>

            </div>
        </section>
        <div class="container-home-twohunplus">

            <div id="home-service-plus">
                <span><span style="font-weight: 600;">200+</span><br><span
                        style="font-size: 2em;">Services</span><br><small>with </small>top leading service
                    provider</span>
            </div>

            <div>
                <img src="../../assets/img/HDFC-Bank-emblem.png">
                <img src="../../assets/img/icici.png">
                <img src="../../assets/img/Bank-of-India-logo.png">

                <img src="../../assets/img/axis bank.png">
                <img src="../../assets/img/aadhaar-logo-png.png">

            </div>
        </div>

        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wraper swiper-wrapper">
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overley"></span>
                            <div class="card-image">
                                <img src="../../assets/img/pngwing.com.png" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Insurance</h2>
                            <p class="description">Life Insurance | Term Insurance | Motar Insurance | Home Insurance | Health Insurance | Property Insurance | Fire Insurance | Commercial Insurance
                            </p>
                            <button class="button">View More...</button>
                        </div>
                    </div>

                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overley"></span>
                            <div class="card-image">
                                <img src="../../assets/img/pngegg.png" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Stationery</h2>
                            <p class="description">Buy Stationery For Your Office, School or house Work @ Discounted Price.<br>Notebook | Paper | Pen | Ruler | Glue Stick | Diary | Organiser etc.<br>
                            </p>
                            <button class="button">View More...</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overley"></span>
                            <div class="card-image">
                                <img src="../../assets/img/income tax logo.png" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Income Tax</h2>
                            <p class="description">We will also register your PAN Card on the e-Filing website if you are not registered. We always use your personal mobile number and email.
                            </p>
                            <button class="button">View More...</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overley"></span>
                            <div class="card-image">
                                <img src="../../assets/img/irctc.png" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Rail Ticket</h2>
                            <p class="description">Search & book IRCTC train tickets, Track your train status and Get Live seat availability. Official IRCTC Ticket Booking Partner. Hassle free cancellation of Train Tickets.
                            </p>
                            <button class="button">View More...</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overley"></span>
                            <div class="card-image">
                                <img src="../../assets/img/flight booking logo.png" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Flight Ticket</h2>
                            <p class="description">Book Domestic and International Airline Tickets in India at Lowest airfares. Best deals on Low cost airline tickets booking reservation, Airlines operating in India. Get cheap fares on deals.
                            </p>
                            <button class="button">View More...</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overley"></span>
                            <div class="card-image">
                                <img src="../../assets/img/bus logo.png" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Bus Ticket</h2>
                            <p class="description">Book ticket to your destination. Route - Prayagraj -Lucknow | Prayagraj -Varansi | Prayagraj -Delhi | Prayagraj -Agra | Prayagraj -Mathura | etc. 
                            </p>
                            <button class="button">View More...</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overley"></span>
                            <div class="card-image">
                                <img src="../../assets/img/moneytransfer logo.jpg" alt="money transfer ruppe symbol"
                                    class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Mony Transfer</h2>
                            <p class="description">Easy, reliable online money transfers whenever you need them.IMPS is an emphatic service which allow transferring of funds instantly within banks across India.
                            </p>
                            <button class="button">View More...</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overley"></span>
                            <div class="card-image">
                                <img src="../../assets/img/aeps-withdrawal_services.png" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Withdrawal</h2>
                            <p class="description">AEPS (Aadhar Enabled Payment System) is a new payment service offered by the National Payments Corporation of India to banks. Withdrawal your mony @ minimum charges.
                            </p>
                            <button class="button">View More...</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overley"></span>
                            <div class="card-image">
                                <img src="../../assets/img/aadhaar-logo-png.png" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Adhar</h2>
                            <p class="description">You can update your Name, Gender, Date of Birth (DoB), Address and Language. Please ensure that your mobile number is registered in Aadhaar while using this service.
                            </p>
                            <button class="button">View More...</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overley"></span>
                            <div class="card-image">
                                <img src="../../assets/img/prints.jpg" alt="digital print" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Digital Prints</h2>
                            <p class="description">Digital printing solutions. Paper Printing | Custom Printing | Digital cards | Invetion Cards | Bussiness Cards | Flyers | Banners | Posters | Digital Photo | 
                            </p>
                            <button class="button">View More...</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overley"></span>
                            <div class="card-image">
                                <img src="../../assets/img/pancard image.jpg" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">PAN Card</h2>
                            <p class="description"> Apply New PAN applications <br> Reprint of PAN Card <br> Change/Correction in PAN Data <br> E-PAN
                            </p>
                            <button class="button">View More...</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overley"></span>
                            <div class="card-image">
                                <img src="../../assets/img/voter id card.png" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Voter Id Card</h2>
                            <p class="description">To improve voter enrolment in Elections, the Election Commission of India has partnered with CSC SPV for delivery of various Electoral Registration Services through CSCs.
                            </p>
                            <button class="button">View More...</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overley"></span>
                            <div class="card-image">
                                <img src="../../assets/img/utility-bill-payment logo.png" alt="utility bills"
                                    class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Utility Bills</h2>
                            <p class="description">Utility Bill Payment Utility Bill. The amount a household or office is expected to pay for electricity, water, EMI, insurance premium, fastag rechage, postpaid and gas each month.
                            </p>
                            <button class="button">View More...</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overley"></span>
                            <div class="card-image">
                                <img src="../../assets/img/up logo.png" alt="up logo" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">E-Dustric Service</h2>
                            <p class="description">edistrict up intend to provide government services to citizens through citizen service centers. Birth Certificate | Caste Certificate | Domicile Certificate | Life Certificate
                            </p>
                            <button class="button">View More...</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overley"></span>
                            <div class="card-image">
                                <img src="../../assets/img/Agriculture-Logo-Design-PNG.png" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Agriculture</h2>
                            <p class="description"> Agricultural Machine Store<br>
                                Online Store<br>
                                Farmer Registration<br>
                                Marketplace
                            </p>
                            <button class="button">View More...</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination bullet"></div>
        </div>

        <section>
            <div class="profile-card-cont">
                <h1>We Make The Perfect Solutions</h1>
                <p style="font-size:2em ; margin-bottom: 20px;">We are committed to providing our customers with
                    exceptional services.</p>
                <div class="card-container">

                    <div class="card">
                        <div class="img-box">
                            <img src="../../assets/img/profile-pic1.jpg">
                        </div>
                        <span>
                            <h2>Designation</h2>
                        </span>
                        <span>
                            <h3>BRIJESH KUSHWAHA</h3>
                        </span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, accusamus.</p>
                        <div class="card-social">
                            <a href="#"> <i class="bi bi-facebook" style="color:slateblue"></i></a>
                            <a href="#"><i class="bi bi-youtube" style="color:red"></i></a>
                            <a href="#"><i class="bi bi-twitter" style="color:#00acee"></i></a>

                        </div>

                    </div>
                    <div class="card">
                        <div class="img-box">
                            <img src="../../assets/img/brijendra.jpg" alt="">
                        </div>
                        <span>
                            <h2>Designation</h2>
                        </span>
                        <span>
                            <h3>BRIJENDRA KUSHWAHA</h3>
                        </span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, accusamus.</p>
                        <div class="card-social">
                            <a href="#"> <i class="bi bi-facebook" style="color:slateblue"></i></a>
                            <a href="#"><i class="bi bi-youtube" style="color:red"></i></a>
                            <a href="#"><i class="bi bi-twitter" style="color:#00acee"></i></a>

                        </div>  

                    </div>
                </div>
            </div>
        </section>
        <section class="what-say">
            <h1>What about say?<span><i class="bi bi-chat-quote"></i></span></h1>
            <!-- Swiper -->
            <div class="swiper mySwiper swiper2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="testimonialBox">
                            <i class="bi bi-quote quote"></i>
                            <!-- <img src="quote.svg" class="quote"> -->
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas repellendus aliquid
                                    inventore excepturi corporis voluptatem!</p>
                                <div class="details">
                                    <div class="imgBx">
                                        <img src="../../assets/img/profile-pic1.jpg" alt="user">
                                    </div>
                                    <h3>Someone Famous<br><span>Creative Design</span></h3>
                                </div>
                                <div class="star-rate">
                                    <span>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonialBox">
                            <i class="bi bi-quote quote"></i>
                            <!-- <img src="quote.svg" class="quote"> -->
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas repellendus aliquid
                                    inventore excepturi corporis voluptatem!</p>
                                <div class="details">
                                    <div class="imgBx">
                                        <img src="../../assets/img/profile-pic1.jpg" alt="user">
                                    </div>
                                    <h3>Someone Famous<br><span>Creative Design</span></h3>
                                </div>
                                <div class="star-rate">
                                    <span>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonialBox">
                            <i class="bi bi-quote quote"></i>
                            <!-- <img src="quote.svg" class="quote"> -->
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas repellendus aliquid
                                    inventore excepturi corporis voluptatem!</p>
                                <div class="details">
                                    <div class="imgBx">
                                        <img src="../../assets/img/profile-pic1.jpg" alt="user">
                                    </div>
                                    <h3>Someone Famous<br><span>Creative Design</span></h3>
                                </div>
                                <div class="star-rate">
                                    <span>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonialBox">
                            <i class="bi bi-quote quote"></i>
                            <!-- <img src="quote.svg" class="quote"> -->
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas repellendus aliquid
                                    inventore excepturi corporis voluptatem!</p>
                                <div class="details">
                                    <div class="imgBx">
                                        <img src="../../assets/img/profile-pic1.jpg" alt="user">
                                    </div>
                                    <h3>Someone Famous<br><span>Creative Design</span></h3>
                                </div>
                                <div class="star-rate">
                                    <span>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonialBox">
                            <i class="bi bi-quote quote"></i>
                            <!-- <img src="quote.svg" class="quote"> -->
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas repellendus aliquid
                                    inventore excepturi corporis voluptatem!</p>
                                <div class="details">
                                    <div class="imgBx">
                                        <img src="../../assets/img/profile-pic1.jpg" alt="user">
                                    </div>
                                    <h3>Someone Famous<br><span>Creative Design</span></h3>
                                </div>
                                <div class="star-rate">
                                    <span>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
 
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>

        </section>
        <section style="margin-top: 100px;margin-bottom: 100px;">
            <h1 style="display:block; text-align:center;margin:20px;margin-bottom:80px;">We Accept Payments<span><i class="bi bi-credit-card" style="margin-left:20px;color:#02938b;"></i></span></h1>
            <div class="accept-card-cnt">
                <div><img src="../../assets/img/visa.png" alt="" style="width:130px;"></div>
                <div><img src="../../assets/img/mastercard.png" alt="" style="width:80px;"></div>
                <div><img src="../../assets/img/rupay.png" alt="" style="width:150px;"></div>
                <div><img src="../../assets/img/bhim upi logo.png" alt="" style="width:130px;"></div>
                <div><img src="../../assets/img/phone pe.png" alt=""></div>
                <div><img src="../../assets/img/gpay.png" alt=""></div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <%- include('../partials/footer'); %>
    </footer>
    <!-- slide swiper javascript -->
    <script src="../../assets/js/swiper-bundle.min.js"></script>
    <script src="../../assets/js/javaScript.js"></script>
</body>

</html>