<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container-fluid">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <div>

      <h1><span style="color:blue">P.hD</span> Research</h1>
      <p><span style="color:blue">Assistance</span> & Service</p>
      <p><span style="color:blue">Get</span> personal mentor</p>
      <div>

        <small><ion-icon name="checkmark-circle-outline" style="color:blue"></ion-icon> 100% confidenital & privacy</small><br>
        <small><ion-icon name="checkmark-circle-outline" style="color:blue"></ion-icon> Online support</small><br>
        <small><ion-icon name="checkmark-circle-outline" style="color:blue"></ion-icon> UGC standard Journal Publication</small><br>
      </div>
    
      <button type="button"><span style="color:blue">Join</span> Now...</button>
    </div>
  <div>
    <div class="get-q-cnt">
      <input type="email" id="email" placeholder="Enter Your E-mail">
      <input type="button" value="" id="email-btn">
    </div>
  
    
</main>
<main>
  <div class="container-t">
    <div class="phd-ser">
      <span class="icl"><ion-icon name="accessibility-outline" style="font-size:25px"></ion-icon></span>
      <span>Research</span>
    </div>
    <div class="phd-ser">
      <span class="icl"><ion-icon name="cog-outline" style="font-size:25px"></ion-icon></span>
      <span>Analysis</span>
    </div>
    <div class="phd-ser">
      <span class="icl"><ion-icon name="shield-half-outline" style="font-size:25px"></ion-icon></span>
      <span>Plagirisam </span>
    </div>
    <div class="phd-ser">
      <span class="icl"> <ion-icon name="shapes-outline" style="font-size:25px"></ion-icon></span>
      <span>Implemation</span>
    </div>
    <div class="phd-ser">
      <span class="icl"><ion-icon name="settings-outline" style="font-size:25px"></ion-icon></span>
      <span>Research Review</span>
    </div class="phd-ser">
    <div class="phd-ser"> 
      <span class="icl"><ion-icon name="cog-outline" style="font-size:25px"></ion-icon></span>
      <span>P.hD Defence</span>
    </div>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>