<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body style="background-color: #003147;">
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <section class="job-sec">
            <div>
                <H1><span></span>Latest Jobs</H1>
                <div class="imgbox"><img src="../../assets/img/job.png"></div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>Date</th>
                        <th>Post</th>
                        <th>Post-Name</th>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Fee</th>
                        <th><span class="click"><i class="bi bi-globe"></i></span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>01</td>
                        <td style="font-size: 0.8em;">09 June 2022</td>
                        <td>43</td>
                        <td>Inspector, Principal, Medical Officer and Other Post</td>
                        <td>UPPSC Various Post Direct Recruitment Online Form 2022</td>
                        <td><span>09.06.2022</span><span>-</span><span style="color: orange;">25.06.2022</span></td>
                        <td><span>Gen-500 &#8377;</span><span>OBC-500 &#8377;</span><span>SC/ST-100 &#8377;</span></td>
                        <td><span class="click"><i class="bi bi-hand-index-thumb"></i></span></td>
                    </tr>
                    <tr>
                        <td>02</td>
                        <td style="font-size: 0.8em;">09 June 2022</td>
                        <td>43</td>
                        <td>Inspector, Principal, Medical Officer and Other Post</td>
                        <td>UPPSC Various Post Direct Recruitment Online Form 2022</td>
                        <td><span>09.06.2022</span><span>-</span><span style="color: orange;">25.06.2022</span></td>
                        <td><span>Gen-500 &#8377;</span><span>OBC-500 &#8377;</span><span>SC/ST-100 &#8377;</span></td>
                        <td><span class="click"><i class="bi bi-hand-index-thumb"></i></span></td>
                    </tr>
                    <tr>
                        <td>03</td>
                        <td style="font-size: 0.8em;">09 June 2022</td>
                        <td>43</td>
                        <td>Inspector, Principal, Medical Officer and Other Post</td>
                        <td>UPPSC Various Post Direct Recruitment Online Form 2022</td>
                        <td><span>09.06.2022</span><span>-</span><span style="color: orange;">25.06.2022</span></td>
                        <td><span>Gen-500 &#8377;</span><span>OBC-500 &#8377;</span><span>SC/ST-100 &#8377;</span></td>
                        <td><span class="click"><i class="bi bi-hand-index-thumb"></i></span></td>
                    </tr>
                    <tr>
                        <td>04</td>
                        <td style="font-size: 0.8em;">09 June 2022</td>
                        <td>43</td>
                        <td>Inspector, Principal, Medical Officer and Other Post</td>
                        <td>UPPSC Various Post Direct Recruitment Online Form 2022</td>
                        <td><span>09.06.2022</span><span>-</span><span style="color: orange;">25.06.2022</span></td>
                        <td><span>Gen-500 &#8377;</span><span>OBC-500 &#8377;</span><span>SC/ST-100 &#8377;</span></td>
                        <td><span class="click"><i class="bi bi-hand-index-thumb"></i></span></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
    <footer class="footer">
        <%- include('../partials/footer'); %>
    </footer>
    <!-- slide swiper javascript -->
    <script src="../../assets/js/swiper-bundle.min.js"></script>
    <script src="../../assets/js/javaScript.js"></script>
</body>

</html>