<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body style="background-color: #003147;">
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <nav aria-label="breadcrumb" style="margin-bottom:0;padding-bottom:0">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">Pricing</li>
            </ol>
        </nav>
        <div class="pricing-header"><h1>Pricing</h1></div>
        <section class="pricing-card-cont">
            <div class="pricing-box">
                <div class="pricing-info">
                    <h3>Adhar Service</h3>
                </div>
                <div class="pricing-content">
                    <div class="div">
                        
                        <span><i class="bi bi-check-all"></i>Apply New </span>
                        <span>200<i class="fa fa-inr"></i></span>
                    </div>
                    <div class="div">
                        
                        <span><i class="bi bi-check-all"></i>Update </span>
                        <span>100<i class="fa fa-inr"></i></span>
                    </div>
                    <div class="div">
                        
                        <span><i class="bi bi-check-all"></i>Download </span>
                        <span>50<i class="fa fa-inr"></i></span>
                    </div>
                    <div class="div">
                        
                        <span><i class="bi bi-check-all"></i>Digital Print </span>
                        <span>200<i class="fa fa-inr"></i></span>
                    </div>
    
                </div>
            </div>
            <div class="pricing-box">
                <div class="pricing-info">
                    <h3>PAN Service</h3>
    
                </div>
                <div class="pricing-content">
                    <div class="div">
                        
                        <span><i class="bi bi-check-all"></i>Apply new PAN card </span>
                        <span>250<i class="fa fa-inr"></i></span>
                    </div>
                    <div class="div">
                        
                        <span><i class="bi bi-check-all"></i>Update </span>
                        <span>150<i class="fa fa-inr"></i></span>
                    </div>
                    <div class="div">
                        
                        <span><i class="bi bi-check-all"></i>e-PAN </span>
                        <span>200<i class="fa fa-inr"></i></span>
                    </div>
                    <div class="div">
                        
                        <span><i class="bi bi-check-all"></i>e-PAN Digital Print</span>
                        <span>200<i class="fa fa-inr"></i></span>
                    </div>
    
                </div>
            </div>
            <div class="pricing-box">
                <div class="pricing-info">
                    <h3>Voter Service</h3>
                </div>
                <div class="pricing-content">
                    <div class="div">
                        
                        <span><i class="bi bi-check-all"></i>Apply </span>
                        <span>100<i class="fa fa-inr"></i></span>
                    </div>
                    <div class="div">
                        
                        <span><i class="bi bi-check-all"></i>Correction </span>
                        <span>50<i class="fa fa-inr"></i></span>
                    </div>
                    <div class="div">
                        <span><i class="bi bi-check-all"></i> </span>
                        <span><i class="fa fa-inr"></i>&nbsp;</span>
                    </div>
                    <div class="div">
                        
                        <span><i class="bi bi-check-all"></i> </span>
                        <span><i class="fa fa-inr"></i>&nbsp;</span>
                    </div>
    
                </div>
            </div>
    
        </section>
        <section class="pricing-card-cont">
            <div class="pricing-box">
                <div class="pricing-info">
                    <h3>Rail Ticket</h3>
                </div>
                <div class="pricing-content">
                    <div class="div">
                        
                        <span><i class="bi bi-check-all"></i>General Ticket </span>
                        <span>50<i class="fa fa-inr"></i></span>
                    </div>
                    <div class="div">
                        
                        <span><i class="bi bi-check-all"></i>Sleeper</span>
                        <span>100<i class="fa fa-inr"></i></span>
                    </div>
                    <div class="div">
                        
                        <span><i class="bi bi-check-all"></i>Ac II & III </span>
                        <span>200<i class="fa fa-inr"></i></span>
                    </div>
                    <div class="div">
                        
                        <span><i class="bi bi-check-all"></i>AC I  </span>
                        <span>500<i class="fa fa-inr"></i></span>
                    </div>
    
                </div>
            </div>
            <div class="pricing-box">
                <div class="pricing-info">
                    <h3>Bus Ticket</h3>
    
                </div>
                <div class="pricing-content">
                    <div class="div">
                        
                        <span><i class="bi bi-check-all"></i>Inter-State</span>
                        <span>50<i class="fa fa-inr"></i></span>
                    </div>
                    <div class="div">
                        
                        <span><i class="bi bi-check-all"></i>Intra-State</span>
                        <span>100<i class="fa fa-inr"></i></span>
                    </div>
                    <div class="div">
                        
                        <span><i class="bi bi-check-all"></i>Special Bus Ticket</span>
                        <span>1000<i class="fa fa-inr"></i></span>
                    </div>
                    <div class="div">
                        
                        <span><i class="bi bi-check-all"></i>Monthly Package</span>
                        <span>200<i class="fa fa-inr"></i></span>
                    </div>
    
                </div>
            </div>
            <div class="pricing-box">
                <div class="pricing-info">
                    <h3>Flight Ticket</h3>
    
                </div>
                <div class="pricing-content">
                    <div class="div">
                        
                        <span><i class="bi bi-check-all"></i>Domestic Flight </span>
                        <span>500<i class="fa fa-inr"></i></span>
                    </div>
                    <div class="div">
                        
                        <span><i class="bi bi-check-all"></i>International Flight </span>
                        <span>2000<i class="fa fa-inr"></i></span>
                    </div>
                    <div class="div">
                        <span><i class="bi bi-check-all"></i>Cancilation as per service provider</span>
                        <span>
                            <!-- <i class="fa fa-inr"></i>&nbsp;200 -->
                        </span>
                    </div>
                    <div class="div">
                        
                        <span><i class="bi bi-check-all"></i>*Booking Charges Not refundable  </span>
                        <span>
                            <!-- <i class="fa fa-inr"></i>&nbsp;200 -->
                        </span>
                    </div>
    
                </div>
            </div>
    
        </section>
        <section class="pricing-card-cont">
            <div class="pricing-box">
                <div class="pricing-info">
                    <h3>Finacial Services</h3>
                </div>
                <div class="pricing-content">
                    <div class="div">
                        
                        <span><i class="bi bi-check-all"></i>Domestic Remitance </span>
                        <span>20<i class="fa fa-inr"></i>/1000</span>
                    </div>
                    <div class="div">
                        
                        <span><i class="bi bi-check-all"></i>Withdrwal</span>
                        <span>10<i class="fa fa-inr"></i>/1000</span>
                    </div>
                    <div class="div">
                        
                        <span><i class="bi bi-check-all"></i>EMI Payment</span>
                        <span> 5<i class="fa fa-inr"></i>/1000</span>
                    </div>
                    <div class="div">
                        
                        <span><i class="bi bi-check-all"></i>Insurance Premimum </span>
                        <span> 20<i class="fa fa-inr"></i>&nbsp;</span>
                    </div>
    
                </div>
            </div>
            <div class="pricing-box">
                <div class="pricing-info">
                    <h3>Insurance</h3>
    
                </div>
                <div class="pricing-content">
                    <div class="div">
                        
                        <span><i class="bi bi-check-all"></i>Life Insurance</span>
                        <span>200<i class="fa fa-inr"></i></span>
                    </div>
                    <div class="div">
                        
                        <span><i class="bi bi-check-all"></i>Health Insurance</span>
                        <span>200<i class="fa fa-inr"></i></span>
                    </div>
                    <div class="div">
                        
                        <span><i class="bi bi-check-all"></i>Two Whiller Insurance</span>
                        <span>100<i class="fa fa-inr"></i></span>
                    </div>
                    <div class="div">
                        
                        <span><i class="bi bi-check-all"></i>Vehicle Insurance @5% of premimum</span>
                        <span></span>
                    </div>
    
                </div>
            </div>
            <div class="pricing-box">
                <div class="pricing-info">
                    <h3>Printing</h3>
    
                </div>
                <div class="pricing-content">
                    <div class="div">
                        
                        <span><i class="bi bi-check-all"></i>Color - per page</span>
                        <span>10<i class="fa fa-inr"></i></span>
                    </div>
                    <div class="div">
                        
                        <span><i class="bi bi-check-all"></i>B&W - per page </span>
                        <span>5<i class="fa fa-inr"></i></span>
                    </div>
                    <div class="div">
                        
                        <span><i class="bi bi-check-all"></i>Photocopy - per page</span>
                        <span>2<i class="fa fa-inr"></i></span>
                    </div>
                    <div class="div">
                        
                        <span><i class="bi bi-check-all"></i>Scan & Print </span>
                        <span>30<i class="fa fa-inr"></i></span>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>